*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

body {
    background-color: #11181e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

#coin-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33px;
    background-color: #3c3c3c;
    width: 70vw;
    margin-top: 4px;
    padding: 10px;
    color: white;
    padding-left: 20px;
    margin-left: 10px;
    border-radius: 2px;
}

#chart{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 70vw;
    top: 0;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 70px;
}

#canvas {

}

#select-div{
    position: absolute;
    top: -10%;
    left: 4%;

}

#time-frame, #currency {
    background-color: #3c3c3c;
    background-image: linear-gradient(23deg, rgb(243, 0, 255), rgb(0, 167, 255));
    color: white;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    padding: 5px;
}
#time-div {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    bottom: -8%;
    flex-direction: row;
    gap: 1%;
}

#showcase-coin {
    position: absolute;
    right: -15%;
    top: 0;
    flex-direction: column;
}
#name {
    width: 200px;
    font-size: 20px;
}

#symbol {
    width: 100px;
}