*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

body {
    background-color: #272525;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

#coin-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #3c3c3c;
    width: 90vw;
    margin-top: 10px;
    padding: 10px;
    color: white;
    padding-left: 20px;
    margin-left: 10px;
    border-radius: 20px;
}

#chart{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 70vw;
    top: 0;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

#canvas {

}

#currency {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3c3c3c;
    color: white;
}